<!doctype html>
<html>
  <head>
    <title>Demo~~</title>
    <!--meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"-->
    <!--link rel="stylesheet" href="./node_modules/bootstrap3/dist/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="./node_modules/wingcss/dist/wing.min.css">
    <link rel="stylesheet" href="./css/hl.css">

  </head>
  <body>
    <div class="hl-head">
      <div class="nav">
	<h5 class="nav-logo">HL</h5>
	<a class="nav-item" href="#">Export</a>
	<a class="nav-item" href="#">Search</a>
	<a class="nav-item" href="#">Compare</a>
      </div>
    </div>
    <hr class="hl-hr">
    <div class="hl-body">
      <div class="row">
	<div class="col-5">
	  <img  src="./img/index.jpg" class="hl-body-img">
	</div>
	<div class="col-7">
	  <ul>
	    <h5>Features: </h5>
	    <li>Add, change, delete, search purchase model<li>
	    <li>Add, change, delete, search purchase model<li>
	    <li>Add, change, delete, search purchase model<li>
	  </ul>
	</div>
      </div>
    </div>
</div>
